.sprites_subtitulos_ds div.texto span.letra{
	display: inline-block;
	width: 15px;
	height: 15px;
	background: url('../img/fonte_subtitulos_ds.png');
	background-position: 0 0;
}

.sprites_subtitulos_ds div.texto span.letra.espaco{ width: 3px; background-position: 0 0; }
.sprites_subtitulos_ds div.texto span.letra.exclamacao{ width: 2px; background-position: -30px 0; }
.sprites_subtitulos_ds div.texto span.letra.aspas-duplas{ width: 4px; background-position: -45px 0; }
.sprites_subtitulos_ds div.texto span.letra.cerquilha{ width: 6px; background-position: -60px 0; }
.sprites_subtitulos_ds div.texto span.letra.cifrao{ width: 6px; background-position: -75px 0; }
.sprites_subtitulos_ds div.texto span.letra.porcento{ width: 10px; background-position: -90px 0; }
.sprites_subtitulos_ds div.texto span.letra.e-comercial{ width: 7px; background-position: -105px 0; }
.sprites_subtitulos_ds div.texto span.letra.aspas{ width: 2px; background-position: -120px 0; }
.sprites_subtitulos_ds div.texto span.letra.abre-parenteses{ width: 4px; background-position: -135px 0; }
.sprites_subtitulos_ds div.texto span.letra.fecha-parenteses{ width: 4px; background-position: -150px 0; }
.sprites_subtitulos_ds div.texto span.letra.asterisco{ width: 4px; background-position: -165px 0; }
.sprites_subtitulos_ds div.texto span.letra.mais{ width: 5px; background-position: -180px 0; }
.sprites_subtitulos_ds div.texto span.letra.virgula{ width: 2px; background-position: -195px 0; }

.sprites_subtitulos_ds div.texto span.letra.menos{ width: 4px; background-position: 0 -15px; }
.sprites_subtitulos_ds div.texto span.letra.ponto{ width: 2px; background-position: -15px -15px; }
.sprites_subtitulos_ds div.texto span.letra.barra{ width: 4px; background-position: -30px -15px; }
.sprites_subtitulos_ds div.texto span.letra.n0{ width: 6px; background-position: -45px -15px; }
.sprites_subtitulos_ds div.texto span.letra.n1{ width: 4px; background-position: -60px -15px; }
.sprites_subtitulos_ds div.texto span.letra.n2{ width: 6px; background-position: -75px -15px; }
.sprites_subtitulos_ds div.texto span.letra.n3{ width: 6px; background-position: -90px -15px; }
.sprites_subtitulos_ds div.texto span.letra.n4{ width: 6px; background-position: -105px -15px; }
.sprites_subtitulos_ds div.texto span.letra.n5{ width: 6px; background-position: -120px -15px; }
.sprites_subtitulos_ds div.texto span.letra.n6{ width: 6px; background-position: -135px -15px; }
.sprites_subtitulos_ds div.texto span.letra.n7{ width: 6px; background-position: -150px -15px; }
.sprites_subtitulos_ds div.texto span.letra.n8{ width: 6px; background-position: -165px -15px; }
.sprites_subtitulos_ds div.texto span.letra.n9{ width: 6px; background-position: -180px -15px; }
.sprites_subtitulos_ds div.texto span.letra.dois-pontos{ width: 2px; background-position: -195px -15px; }

.sprites_subtitulos_ds div.texto span.letra.ponto-e-virgula{ width: 4px; background-position: 0 -30px; }
.sprites_subtitulos_ds div.texto span.letra.menor-que{ width: 6px; background-position: -15px -30px; }
.sprites_subtitulos_ds div.texto span.letra.igual{ width: 6px; background-position: -30px -30px; }
.sprites_subtitulos_ds div.texto span.letra.maior-que{ width: 6px; background-position: -45px -30px; }
.sprites_subtitulos_ds div.texto span.letra.interrogacao{ width: 6px; background-position: -60px -30px; }
.sprites_subtitulos_ds div.texto span.letra.arroba{ width: 11px; background-position: -75px -30px; }
.sprites_subtitulos_ds div.texto span.letra.A{ width: 8px; background-position: -90px -30px; }
.sprites_subtitulos_ds div.texto span.letra.B{ width: 7px; background-position: -105px -30px; }
.sprites_subtitulos_ds div.texto span.letra.C{ width: 7px; background-position: -120px -30px; }
.sprites_subtitulos_ds div.texto span.letra.D{ width: 7px; background-position: -135px -30px; }
.sprites_subtitulos_ds div.texto span.letra.E{ width: 6px; background-position: -150px -30px; }
.sprites_subtitulos_ds div.texto span.letra.F{ width: 6px; background-position: -165px -30px; }
.sprites_subtitulos_ds div.texto span.letra.G{ width: 8px; background-position: -180px -30px; }
.sprites_subtitulos_ds div.texto span.letra.H{ width: 7px; background-position: -195px -30px; }

.sprites_subtitulos_ds div.texto span.letra.I{ width: 2px; background-position: 0 -45px; }
.sprites_subtitulos_ds div.texto span.letra.J{ width: 5px; background-position: -15px -45px; }
.sprites_subtitulos_ds div.texto span.letra.K{ width: 7px; background-position: -30px -45px; }
.sprites_subtitulos_ds div.texto span.letra.L{ width: 6px; background-position: -45px -45px; }
.sprites_subtitulos_ds div.texto span.letra.M{ width: 8px; background-position: -60px -45px; }
.sprites_subtitulos_ds div.texto span.letra.N{ width: 7px; background-position: -75px -45px; }
.sprites_subtitulos_ds div.texto span.letra.O{ width: 8px; background-position: -90px -45px; }
.sprites_subtitulos_ds div.texto span.letra.P{ width: 6px; background-position: -105px -45px; }
.sprites_subtitulos_ds div.texto span.letra.Q{ width: 8px; background-position: -120px -45px; }
.sprites_subtitulos_ds div.texto span.letra.R{ width: 7px; background-position: -135px -45px; }
.sprites_subtitulos_ds div.texto span.letra.S{ width: 7px; background-position: -150px -45px; }
.sprites_subtitulos_ds div.texto span.letra.T{ width: 6px; background-position: -165px -45px; }
.sprites_subtitulos_ds div.texto span.letra.U{ width: 7px; background-position: -180px -45px; }
.sprites_subtitulos_ds div.texto span.letra.V{ width: 8px; background-position: -195px -45px; }

.sprites_subtitulos_ds div.texto span.letra.W{ width: 12px; background-position: 0 -60px; }
.sprites_subtitulos_ds div.texto span.letra.X{ width: 7px; background-position: -15px -60px; }
.sprites_subtitulos_ds div.texto span.letra.Y{ width: 8px; background-position: -30px -60px; }
.sprites_subtitulos_ds div.texto span.letra.Z{ width: 7px; background-position: -45px -60px; }
.sprites_subtitulos_ds div.texto span.letra.abre-colchetes{ width: 3px; background-position: -60px -60px; }
.sprites_subtitulos_ds div.texto span.letra.barra-invertida{ width: 4px; background-position: -75px -60px; }
.sprites_subtitulos_ds div.texto span.letra.fecha-colchetes{ width: 3px; background-position: -90px -60px; }
.sprites_subtitulos_ds div.texto span.letra.circunflexo{ width: 6px; background-position: -105px -60px; }
.sprites_subtitulos_ds div.texto span.letra.sublinhado{ width: 7px; background-position: -120px -60px; }
.sprites_subtitulos_ds div.texto span.letra.crase{ width: 3px; background-position: -135px -60px; }
.sprites_subtitulos_ds div.texto span.letra.a{ width: 6px; background-position: -150px -60px; }
.sprites_subtitulos_ds div.texto span.letra.b{ width: 6px; background-position: -165px -60px; }
.sprites_subtitulos_ds div.texto span.letra.c{ width: 6px; background-position: -180px -60px; }
.sprites_subtitulos_ds div.texto span.letra.d{ width: 6px; background-position: -195px -60px; }

.sprites_subtitulos_ds div.texto span.letra.e{ width: 6px; background-position: 0 -75px; }
.sprites_subtitulos_ds div.texto span.letra.f{ width: 4px; background-position: -15px -75px; }
.sprites_subtitulos_ds div.texto span.letra.g{ width: 6px; background-position: -30px -75px; }
.sprites_subtitulos_ds div.texto span.letra.h{ width: 6px; background-position: -45px -75px; }
.sprites_subtitulos_ds div.texto span.letra.i{ width: 2px; background-position: -60px -75px; }
.sprites_subtitulos_ds div.texto span.letra.j{ width: 3px; background-position: -75px -75px; }
.sprites_subtitulos_ds div.texto span.letra.k{ width: 5px; background-position: -90px -75px; }
.sprites_subtitulos_ds div.texto span.letra.l{ width: 2px; background-position: -105px -75px; }
.sprites_subtitulos_ds div.texto span.letra.m{ width: 8px; background-position: -120px -75px; }
.sprites_subtitulos_ds div.texto span.letra.n{ width: 6px; background-position: -135px -75px; }
.sprites_subtitulos_ds div.texto span.letra.o{ width: 6px; background-position: -150px -75px; }
.sprites_subtitulos_ds div.texto span.letra.p{ width: 6px; background-position: -165px -75px; }
.sprites_subtitulos_ds div.texto span.letra.q{ width: 6px; background-position: -180px -75px; }
.sprites_subtitulos_ds div.texto span.letra.r{ width: 4px; background-position: -195px -75px; }

.sprites_subtitulos_ds div.texto span.letra.s{ width: 6px; background-position: 0 -90px; }
.sprites_subtitulos_ds div.texto span.letra.t{ width: 4px; background-position: -15px -90px; }
.sprites_subtitulos_ds div.texto span.letra.u{ width: 6px; background-position: -30px -90px; }
.sprites_subtitulos_ds div.texto span.letra.v{ width: 6px; background-position: -45px -90px; }
.sprites_subtitulos_ds div.texto span.letra.w{ width: 10px; background-position: -60px -90px; }
.sprites_subtitulos_ds div.texto span.letra.x{ width: 6px; background-position: -75px -90px; }
.sprites_subtitulos_ds div.texto span.letra.y{ width: 6px; background-position: -90px -90px; }
.sprites_subtitulos_ds div.texto span.letra.z{ width: 6px; background-position: -105px -90px; }
.sprites_subtitulos_ds div.texto span.letra.abre-chaves{ width: 4px; background-position: -120px -90px; }
.sprites_subtitulos_ds div.texto span.letra.barra-vertical{ width: 2px; background-position: -135px -90px; }
.sprites_subtitulos_ds div.texto span.letra.fecha-chaves{ width: 4px; background-position: -150px -90px; }
.sprites_subtitulos_ds div.texto span.letra.til{ width: 6px; background-position: -165px -90px; }
.sprites_subtitulos_ds div.texto span.letra.A-craseado{ width: 8px; background-position: -180px -90px; }
.sprites_subtitulos_ds div.texto span.letra.A-agudo{ width: 8px; background-position: -195px -90px; }

.sprites_subtitulos_ds div.texto span.letra.A-circunflexo{ width: 8px; background-position: 0 -105px; }
.sprites_subtitulos_ds div.texto span.letra.A-til{ width: 8px; background-position: -15px -105px; }
.sprites_subtitulos_ds div.texto span.letra.C-cedilha{ width: 7px; background-position: -30px -105px; }
.sprites_subtitulos_ds div.texto span.letra.E-agudo{ width: 6px; background-position: -45px -105px; }
.sprites_subtitulos_ds div.texto span.letra.E-circunflexo{ width: 6px; background-position: -60px -105px; }
.sprites_subtitulos_ds div.texto span.letra.I-agudo{ width: 2px; background-position: -75px -105px; }
.sprites_subtitulos_ds div.texto span.letra.O-agudo{ width: 8px; background-position: -90px -105px; }
.sprites_subtitulos_ds div.texto span.letra.O-circunflexo{ width: 8px; background-position: -105px -105px; }
.sprites_subtitulos_ds div.texto span.letra.O-til{ width: 8px; background-position: -120px -105px; }
.sprites_subtitulos_ds div.texto span.letra.U-agudo{ width: 7px; background-position: -135px -105px; }
.sprites_subtitulos_ds div.texto span.letra.U-tremado{ width: 7px; background-position: -150px -105px; }
.sprites_subtitulos_ds div.texto span.letra.a-craseado{ width: 6px; background-position: -165px -105px; }
.sprites_subtitulos_ds div.texto span.letra.a-agudo{ width: 6px; background-position: -180px -105px; }
.sprites_subtitulos_ds div.texto span.letra.a-circunflexo{ width: 6px; background-position: -195px -105px; }

.sprites_subtitulos_ds div.texto span.letra.a-til{ width: 6px; background-position: 0 -120px; }
.sprites_subtitulos_ds div.texto span.letra.c-cedilha{ width: 6px; background-position: -15px -120px; }
.sprites_subtitulos_ds div.texto span.letra.e-agudo{ width: 6px; background-position: -30px -120px; }
.sprites_subtitulos_ds div.texto span.letra.e-circunflexo{ width: 6px; background-position: -45px -120px; }
.sprites_subtitulos_ds div.texto span.letra.i-agudo{ width: 2px; background-position: -60px -120px; }
.sprites_subtitulos_ds div.texto span.letra.o-agudo{ width: 6px; background-position: -75px -120px; }
.sprites_subtitulos_ds div.texto span.letra.o-circunflexo{ width: 6px; background-position: -90px -120px; }
.sprites_subtitulos_ds div.texto span.letra.o-til{ width: 6px; background-position: -105px -120px; }
.sprites_subtitulos_ds div.texto span.letra.u-agudo{ width: 6px; background-position: -120px -120px; }
.sprites_subtitulos_ds div.texto span.letra.u-tremado{ width: 6px; background-position: -135px -120px; }

.sprites_subtitulos_ds div.texto span.letra.desconhecida{ width: 10px !important; background-position: -15px 0 !important; }