.sprites_subtitulos_ds div.texto span.letter{
	display: inline-block;
	width: 15px;
	height: 15px;
	background: url('../images/fonte_subtitulos_ds.png');
	background-position: 0 0;
}

.sprites_subtitulos_ds div.texto span.letter.espaco{ width: 3px; background-position: 0 0; }
.sprites_subtitulos_ds div.texto span.letter.exclamacao{ width: 2px; background-position: -30px 0; }
.sprites_subtitulos_ds div.texto span.letter.aspas-duplas{ width: 4px; background-position: -45px 0; }
.sprites_subtitulos_ds div.texto span.letter.cerquilha{ width: 6px; background-position: -60px 0; }
.sprites_subtitulos_ds div.texto span.letter.cifrao{ width: 6px; background-position: -75px 0; }
.sprites_subtitulos_ds div.texto span.letter.porcento{ width: 10px; background-position: -90px 0; }
.sprites_subtitulos_ds div.texto span.letter.e-comercial{ width: 7px; background-position: -105px 0; }
.sprites_subtitulos_ds div.texto span.letter.aspas{ width: 2px; background-position: -120px 0; }
.sprites_subtitulos_ds div.texto span.letter.abre-parenteses{ width: 4px; background-position: -135px 0; }
.sprites_subtitulos_ds div.texto span.letter.fecha-parenteses{ width: 4px; background-position: -150px 0; }
.sprites_subtitulos_ds div.texto span.letter.asterisco{ width: 4px; background-position: -165px 0; }
.sprites_subtitulos_ds div.texto span.letter.mais{ width: 5px; background-position: -180px 0; }
.sprites_subtitulos_ds div.texto span.letter.virgula{ width: 2px; background-position: -195px 0; }

.sprites_subtitulos_ds div.texto span.letter.menos{ width: 4px; background-position: 0 -15px; }
.sprites_subtitulos_ds div.texto span.letter.ponto{ width: 2px; background-position: -15px -15px; }
.sprites_subtitulos_ds div.texto span.letter.barra{ width: 4px; background-position: -30px -15px; }
.sprites_subtitulos_ds div.texto span.letter.n0{ width: 6px; background-position: -45px -15px; }
.sprites_subtitulos_ds div.texto span.letter.n1{ width: 4px; background-position: -60px -15px; }
.sprites_subtitulos_ds div.texto span.letter.n2{ width: 6px; background-position: -75px -15px; }
.sprites_subtitulos_ds div.texto span.letter.n3{ width: 6px; background-position: -90px -15px; }
.sprites_subtitulos_ds div.texto span.letter.n4{ width: 6px; background-position: -105px -15px; }
.sprites_subtitulos_ds div.texto span.letter.n5{ width: 6px; background-position: -120px -15px; }
.sprites_subtitulos_ds div.texto span.letter.n6{ width: 6px; background-position: -135px -15px; }
.sprites_subtitulos_ds div.texto span.letter.n7{ width: 6px; background-position: -150px -15px; }
.sprites_subtitulos_ds div.texto span.letter.n8{ width: 6px; background-position: -165px -15px; }
.sprites_subtitulos_ds div.texto span.letter.n9{ width: 6px; background-position: -180px -15px; }
.sprites_subtitulos_ds div.texto span.letter.dois-pontos{ width: 2px; background-position: -195px -15px; }

.sprites_subtitulos_ds div.texto span.letter.ponto-e-virgula{ width: 4px; background-position: 0 -30px; }
.sprites_subtitulos_ds div.texto span.letter.menor-que{ width: 6px; background-position: -15px -30px; }
.sprites_subtitulos_ds div.texto span.letter.igual{ width: 6px; background-position: -30px -30px; }
.sprites_subtitulos_ds div.texto span.letter.maior-que{ width: 6px; background-position: -45px -30px; }
.sprites_subtitulos_ds div.texto span.letter.interrogacao{ width: 6px; background-position: -60px -30px; }
.sprites_subtitulos_ds div.texto span.letter.arroba{ width: 11px; background-position: -75px -30px; }
.sprites_subtitulos_ds div.texto span.letter.A{ width: 8px; background-position: -90px -30px; }
.sprites_subtitulos_ds div.texto span.letter.B{ width: 7px; background-position: -105px -30px; }
.sprites_subtitulos_ds div.texto span.letter.C{ width: 7px; background-position: -120px -30px; }
.sprites_subtitulos_ds div.texto span.letter.D{ width: 7px; background-position: -135px -30px; }
.sprites_subtitulos_ds div.texto span.letter.E{ width: 6px; background-position: -150px -30px; }
.sprites_subtitulos_ds div.texto span.letter.F{ width: 6px; background-position: -165px -30px; }
.sprites_subtitulos_ds div.texto span.letter.G{ width: 8px; background-position: -180px -30px; }
.sprites_subtitulos_ds div.texto span.letter.H{ width: 7px; background-position: -195px -30px; }

.sprites_subtitulos_ds div.texto span.letter.I{ width: 2px; background-position: 0 -45px; }
.sprites_subtitulos_ds div.texto span.letter.J{ width: 5px; background-position: -15px -45px; }
.sprites_subtitulos_ds div.texto span.letter.K{ width: 7px; background-position: -30px -45px; }
.sprites_subtitulos_ds div.texto span.letter.L{ width: 6px; background-position: -45px -45px; }
.sprites_subtitulos_ds div.texto span.letter.M{ width: 8px; background-position: -60px -45px; }
.sprites_subtitulos_ds div.texto span.letter.N{ width: 7px; background-position: -75px -45px; }
.sprites_subtitulos_ds div.texto span.letter.O{ width: 8px; background-position: -90px -45px; }
.sprites_subtitulos_ds div.texto span.letter.P{ width: 6px; background-position: -105px -45px; }
.sprites_subtitulos_ds div.texto span.letter.Q{ width: 8px; background-position: -120px -45px; }
.sprites_subtitulos_ds div.texto span.letter.R{ width: 7px; background-position: -135px -45px; }
.sprites_subtitulos_ds div.texto span.letter.S{ width: 7px; background-position: -150px -45px; }
.sprites_subtitulos_ds div.texto span.letter.T{ width: 6px; background-position: -165px -45px; }
.sprites_subtitulos_ds div.texto span.letter.U{ width: 7px; background-position: -180px -45px; }
.sprites_subtitulos_ds div.texto span.letter.V{ width: 8px; background-position: -195px -45px; }

.sprites_subtitulos_ds div.texto span.letter.W{ width: 12px; background-position: 0 -60px; }
.sprites_subtitulos_ds div.texto span.letter.X{ width: 7px; background-position: -15px -60px; }
.sprites_subtitulos_ds div.texto span.letter.Y{ width: 8px; background-position: -30px -60px; }
.sprites_subtitulos_ds div.texto span.letter.Z{ width: 7px; background-position: -45px -60px; }
.sprites_subtitulos_ds div.texto span.letter.abre-colchetes{ width: 3px; background-position: -60px -60px; }
.sprites_subtitulos_ds div.texto span.letter.barra-invertida{ width: 4px; background-position: -75px -60px; }
.sprites_subtitulos_ds div.texto span.letter.fecha-colchetes{ width: 3px; background-position: -90px -60px; }
.sprites_subtitulos_ds div.texto span.letter.circunflexo{ width: 6px; background-position: -105px -60px; }
.sprites_subtitulos_ds div.texto span.letter.sublinhado{ width: 7px; background-position: -120px -60px; }
.sprites_subtitulos_ds div.texto span.letter.crase{ width: 3px; background-position: -135px -60px; }
.sprites_subtitulos_ds div.texto span.letter.a{ width: 6px; background-position: -150px -60px; }
.sprites_subtitulos_ds div.texto span.letter.b{ width: 6px; background-position: -165px -60px; }
.sprites_subtitulos_ds div.texto span.letter.c{ width: 6px; background-position: -180px -60px; }
.sprites_subtitulos_ds div.texto span.letter.d{ width: 6px; background-position: -195px -60px; }

.sprites_subtitulos_ds div.texto span.letter.e{ width: 6px; background-position: 0 -75px; }
.sprites_subtitulos_ds div.texto span.letter.f{ width: 4px; background-position: -15px -75px; }
.sprites_subtitulos_ds div.texto span.letter.g{ width: 6px; background-position: -30px -75px; }
.sprites_subtitulos_ds div.texto span.letter.h{ width: 6px; background-position: -45px -75px; }
.sprites_subtitulos_ds div.texto span.letter.i{ width: 2px; background-position: -60px -75px; }
.sprites_subtitulos_ds div.texto span.letter.j{ width: 3px; background-position: -75px -75px; }
.sprites_subtitulos_ds div.texto span.letter.k{ width: 5px; background-position: -90px -75px; }
.sprites_subtitulos_ds div.texto span.letter.l{ width: 2px; background-position: -105px -75px; }
.sprites_subtitulos_ds div.texto span.letter.m{ width: 8px; background-position: -120px -75px; }
.sprites_subtitulos_ds div.texto span.letter.n{ width: 6px; background-position: -135px -75px; }
.sprites_subtitulos_ds div.texto span.letter.o{ width: 6px; background-position: -150px -75px; }
.sprites_subtitulos_ds div.texto span.letter.p{ width: 6px; background-position: -165px -75px; }
.sprites_subtitulos_ds div.texto span.letter.q{ width: 6px; background-position: -180px -75px; }
.sprites_subtitulos_ds div.texto span.letter.r{ width: 4px; background-position: -195px -75px; }

.sprites_subtitulos_ds div.texto span.letter.s{ width: 6px; background-position: 0 -90px; }
.sprites_subtitulos_ds div.texto span.letter.t{ width: 4px; background-position: -15px -90px; }
.sprites_subtitulos_ds div.texto span.letter.u{ width: 6px; background-position: -30px -90px; }
.sprites_subtitulos_ds div.texto span.letter.v{ width: 6px; background-position: -45px -90px; }
.sprites_subtitulos_ds div.texto span.letter.w{ width: 10px; background-position: -60px -90px; }
.sprites_subtitulos_ds div.texto span.letter.x{ width: 6px; background-position: -75px -90px; }
.sprites_subtitulos_ds div.texto span.letter.y{ width: 6px; background-position: -90px -90px; }
.sprites_subtitulos_ds div.texto span.letter.z{ width: 6px; background-position: -105px -90px; }
.sprites_subtitulos_ds div.texto span.letter.abre-chaves{ width: 4px; background-position: -120px -90px; }
.sprites_subtitulos_ds div.texto span.letter.barra-vertical{ width: 2px; background-position: -135px -90px; }
.sprites_subtitulos_ds div.texto span.letter.fecha-chaves{ width: 4px; background-position: -150px -90px; }
.sprites_subtitulos_ds div.texto span.letter.til{ width: 6px; background-position: -165px -90px; }
.sprites_subtitulos_ds div.texto span.letter.A-craseado{ width: 8px; background-position: -180px -90px; }
.sprites_subtitulos_ds div.texto span.letter.A-agudo{ width: 8px; background-position: -195px -90px; }

.sprites_subtitulos_ds div.texto span.letter.A-circunflexo{ width: 8px; background-position: 0 -105px; }
.sprites_subtitulos_ds div.texto span.letter.A-til{ width: 8px; background-position: -15px -105px; }
.sprites_subtitulos_ds div.texto span.letter.C-cedilha{ width: 7px; background-position: -30px -105px; }
.sprites_subtitulos_ds div.texto span.letter.E-agudo{ width: 6px; background-position: -45px -105px; }
.sprites_subtitulos_ds div.texto span.letter.E-circunflexo{ width: 6px; background-position: -60px -105px; }
.sprites_subtitulos_ds div.texto span.letter.I-agudo{ width: 2px; background-position: -75px -105px; }
.sprites_subtitulos_ds div.texto span.letter.O-agudo{ width: 8px; background-position: -90px -105px; }
.sprites_subtitulos_ds div.texto span.letter.O-circunflexo{ width: 8px; background-position: -105px -105px; }
.sprites_subtitulos_ds div.texto span.letter.O-til{ width: 8px; background-position: -120px -105px; }
.sprites_subtitulos_ds div.texto span.letter.U-agudo{ width: 7px; background-position: -135px -105px; }
.sprites_subtitulos_ds div.texto span.letter.U-tremado{ width: 7px; background-position: -150px -105px; }
.sprites_subtitulos_ds div.texto span.letter.a-craseado{ width: 6px; background-position: -165px -105px; }
.sprites_subtitulos_ds div.texto span.letter.a-agudo{ width: 6px; background-position: -180px -105px; }
.sprites_subtitulos_ds div.texto span.letter.a-circunflexo{ width: 6px; background-position: -195px -105px; }

.sprites_subtitulos_ds div.texto span.letter.a-til{ width: 6px; background-position: 0 -120px; }
.sprites_subtitulos_ds div.texto span.letter.c-cedilha{ width: 6px; background-position: -15px -120px; }
.sprites_subtitulos_ds div.texto span.letter.e-agudo{ width: 6px; background-position: -30px -120px; }
.sprites_subtitulos_ds div.texto span.letter.e-circunflexo{ width: 6px; background-position: -45px -120px; }
.sprites_subtitulos_ds div.texto span.letter.i-agudo{ width: 2px; background-position: -60px -120px; }
.sprites_subtitulos_ds div.texto span.letter.o-agudo{ width: 6px; background-position: -75px -120px; }
.sprites_subtitulos_ds div.texto span.letter.o-circunflexo{ width: 6px; background-position: -90px -120px; }
.sprites_subtitulos_ds div.texto span.letter.o-til{ width: 6px; background-position: -105px -120px; }
.sprites_subtitulos_ds div.texto span.letter.u-agudo{ width: 6px; background-position: -120px -120px; }
.sprites_subtitulos_ds div.texto span.letter.u-tremado{ width: 6px; background-position: -135px -120px; }

.sprites_subtitulos_ds div.texto span.letter.unknown{ width: 10px !important; background-position: -15px 0 !important; }